.App {
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 10em;
    align-items: center;
    padding: 2em;
}

.addTodoForm {
    border: 4px solid #212121;
}

.addTodoForm>label {
    background-color: #212121;
    border-right: 4px solid #212121;
    padding: 1em 2em;
    font-weight: bold;
    color: #FAFAFA;
    margin-right: 1em;
}

.addTodoInput {
    width: 40em;
    border: none;
    outline: none;
}

.addTodoBtn {

    border: none;
    border-left: 4px solid #212121;
    padding: 1em 2em;
    background-color: #212121;
    color: #FAFAFA;
    transition: all 1s ease-in-out;
}

.addTodoBtn:hover {
    color: #212121;
    background-color: #EEEEEE;
}

.todoObject {
    display: flex;
    height: 3em;
    width: 40em;
    padding-bottom: 4em;
    margin: 4em 0;
    align-items: center;
    gap: 2em;
    border-bottom: 2px solid #9E9E9E;
    transition: opacity 0.5s ease-in-out;
}

.todoObject:last-child {
    border: none;
}

.todoObject>p {
    width: 40%;
    margin: 0;
    overflow-wrap: break-word;
}

.deleteBtn{
    width: 32px;
    height: 32px;
    background-color: #212121;
    border: none;
    color: #FAFAFA;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.updateBtn{
    height: 32px;
    background-color: #212121;
    border: none;
    padding: 0em 1em;
    color: #FAFAFA;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.deleteBtn:hover{
    background-color: #C62828;
}

.updateBtn:hover{
    background-color: #FBC02D;
}

.updateInput{
    animation: 2s moulin;
}

.newTaskAnimation{
    animation: 2s pulse;
}

@keyframes moulin {
    from{
        opacity: 0;
    }
    to{
        transform: rotate(360deg);
        opacity: 1;
    }
    
}

@keyframes pulse {
    50% {
        opacity: 1;
        transform: scale(1.3);
    }

    80%{
        opacity: 0;
        transform: scale(0.80);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}